[2019-01-04 13:30] g4s8 opened #1 "Release binaries"
Build executables for different platforms, make a script to install.

[2019-01-04 13:31] g4s8 commented on #1
@rultor hello

[2019-01-04 13:32] rultor commented on #1
@g4s8 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2019-01-05 10:56] g4s8 commented on #1
@rultor release, tag=`0.1`

[2019-01-05 10:57] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17156-451645786)

[2019-01-05 10:59] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17156-451645786) (took me 2min)

[2019-01-05 12:23] #1 closed, assigned to g4s8

[2019-01-05 14:40] g4s8 opened #2 "Templates url"
Fetch templates from network using http.
Add some useful templates to this repository.

[2019-01-05 17:26] g4s8 opened #4 "Show version"
Show version info on `gitstrap -version`

[2019-01-05 17:55] g4s8 commented on #4
@rultor release, tag=`0.1.2`

[2019-01-05 17:55] rultor commented on #4
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17165-451676924)

[2019-01-05 17:57] rultor commented on #4
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17165-451676924) (took me 2min)

[2019-01-05 17:58] g4s8 opened #5 "Refactor main.go"
Right now all code is located in `main.go`, let's refactor it.

[2019-01-05 18:07] g4s8 commented on #4
@rultor release, tag=`0.1.3`

[2019-01-05 18:07] rultor commented on #4
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17165-451677904)

[2019-01-05 18:09] rultor commented on #4
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17165-451677904) (took me 2min)

[2019-01-05 18:33] g4s8 commented on #4
@rultor release, tag=`0.1.4`

[2019-01-05 18:33] rultor commented on #4
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17165-451679686)

[2019-01-05 18:35] rultor commented on #4
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17165-451679686) (took me 2min)

[2019-01-05 18:46] 0pdd opened #6 ".goreleaser.yml:6-9: Build date is missing. Let's add..."
The puzzle `4-dc1e5699` from #4 has to be resolved:

https://github.com/g4s8/gitstrap/blob/6b03ff16f25b17c37c25bcb55cc6514575433fa2/.goreleaser.yml#L6-L9

The puzzle was created by @g4s8 on 05-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code. Here

[2019-01-05 18:46] 0pdd commented on #4
@g4s8 the puzzle [#6](https://github.com/g4s8/gitstrap/issues/6) is still not solved.

[2019-01-05 18:46] g4s8 commented on #4
done

[2019-01-05 18:46] #4 closed

[2019-01-06 20:04] g4s8 commented on #2
@0crat assign me

[2019-01-06 20:05] 0crat commented on #2
@g4s8 The job [#2](https://github.com/g4s8/gitstrap/issues/2) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/82b208d3-f1c5-4082-b643-946ffcdf4276); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-01-06 20:07] 0crat commented on #2
@g4s8 Job `gh:g4s8/gitstrap#2` already assigned to @g4s8, can't assign to @g4s8

[2019-01-06 20:12] 0crat commented on #2
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-06 20:12] 0crat commented on #2
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-06 20:12] 0crat commented on #2
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 12:06] g4s8 commented on #5
@0crat assign me

[2019-01-07 12:07] 0crat commented on #5
@g4s8 The job [#5](https://github.com/g4s8/gitstrap/issues/5) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/333a9781-e351-4421-8fe7-52bda33d96f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-01-07 12:09] 0crat commented on #5
@g4s8 Job `gh:g4s8/gitstrap#5` already assigned to @g4s8, can't assign to @g4s8

[2019-01-07 12:13] 0crat commented on #5
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 12:13] 0crat commented on #5
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 12:13] 0crat commented on #5
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 14:24] 0pdd opened #9 "gitstrap.go:136-140: Continue refactoring. Refactor..."
The puzzle `5-6471c36f` from #5 has to be resolved:

https://github.com/g4s8/gitstrap/blob/c054ddeb201472b0f15b09d40e3e12316231eef7/gitstrap.go#L136-L140

The puzzle was created by @g4s8 on 07-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code. Here

[2019-01-07 14:34] g4s8 commented on #5
done

[2019-01-07 14:34] #5 closed

[2019-01-07 14:55] 0crat commented on #5
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-07 14:59] 0crat commented on #5
The job [#5](https://github.com/g4s8/gitstrap/issues/5) is now out of scope

[2019-01-07 14:59] 0crat commented on #5
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 17:24] g4s8 opened #10 "Bootstrap organization repo"
Add `-org` option to bootstrap organization repo

[2019-01-07 17:25] g4s8 commented on #10
@0crat assign me

[2019-01-07 17:33] 0crat commented on #10
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 17:33] 0crat commented on #10
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 17:33] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 18:07] g4s8 commented on #10
done in #11

[2019-01-07 18:07] #10 closed

[2019-01-07 18:35] 0crat commented on #10
The job [#10](https://github.com/g4s8/gitstrap/issues/10) is now out of scope

[2019-01-07 18:37] 0crat commented on #10
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 18:43] g4s8 commented on #2
@rultor release, tag=`0.1.5`

[2019-01-07 18:44] rultor commented on #2
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17208-452038063)

[2019-01-07 18:47] rultor commented on #2
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17208-452038063) (took me 2min)

[2019-01-07 21:07] g4s8 commented on #2
done in #12

[2019-01-07 21:07] #2 closed

[2019-01-07 21:31] 0crat commented on #2
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-08 10:02] g4s8 opened #13 "Support env in template path"
Let's support environment variables in templates files location:
[code]

[2019-01-09 15:31] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17156-452737335)

[2019-01-09 15:33] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17156-452737335) (took me 2min)

[2019-01-09 15:39] g4s8 commented on #1
@rultor release, tag=`0.1.7`

[2019-01-09 15:40] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17156-452740984)

[2019-01-09 15:42] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17156-452740984) (took me 2min)

[2019-01-15 19:21] g4s8 opened #14 "Repo name from $PWD"
Make `name` attribute optional, use current directory name if `name` is not present.
E.g. if `gistrap` was called from directory `/home/user/projects/myrepo` and `.gitstrap.yaml` doesn't have `name` attribute, we should call repo `myrepo`.

[2019-03-13 15:46] g4s8 opened #15 "Store github tokens for user"
Let's store Github token (optinaly) in file `$HOME/.config/gitstrap/` to use it instead of `-token` argument.

[2019-03-14 14:53] 0crat commented on #6
Job [#6](https://github.com/g4s8/gitstrap/issues/6) is now in scope, role is `DEV`

[2019-03-14 14:53] 0crat commented on #13
Job [#13](https://github.com/g4s8/gitstrap/issues/13) is now in scope, role is `DEV`

[2019-03-14 14:53] 0crat commented on #14
Job [#14](https://github.com/g4s8/gitstrap/issues/14) is now in scope, role is `DEV`

[2019-03-14 14:54] 0crat commented on #9
Job [#9](https://github.com/g4s8/gitstrap/issues/9) is now in scope, role is `DEV`

[2019-03-14 14:55] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 14:55] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 14:55] 0crat commented on #15
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 15:46] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-14 15:46] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-14 15:48] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-14 15:48] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-14 15:48] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-15 15:24] g4s8 commented on #6
@0crat status

[2019-03-15 15:25] 0crat commented on #6
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#6](https://github.com/g4s8/gitstrap/issues/6) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set

[2019-03-19 16:41] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-19 16:42] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-19 16:42] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-19 16:43] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-19 16:43] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-24 17:41] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-24 17:41] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-24 17:41] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-24 17:41] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-24 17:41] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-29 18:40] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-29 18:40] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-29 18:40] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-03-29 18:41] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-03-29 18:41] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-03 19:39] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-03 19:39] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-03 19:41] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-03 19:41] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-03 19:41] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-15 20:42] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-15 20:42] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-15 20:42] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-15 20:42] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-15 20:42] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-20 21:40] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-20 21:40] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-20 21:40] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-20 21:40] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-20 21:44] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-25 22:40] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-25 22:40] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-25 22:40] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-25 22:40] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-25 22:40] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-30 23:38] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-30 23:39] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-30 23:39] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-04-30 23:39] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-04-30 23:40] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/g4s8/gitstrap/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-05-06 00:42] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#15](https://github.com/g4s8/gitstrap/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-05-06 00:42] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-05-11 01:41] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#6](https://github.com/g4s8/gitstrap/issues/6); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-05-15 09:00] g4s8 commented on #14
@0crat assign me

[2019-05-15 09:01] 0crat commented on #14
@g4s8 The job [#14](https://github.com/g4s8/gitstrap/issues/14) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/9effeb90-6a24-4c2d-83c3-920b21743132); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2019-05-15 09:01] 0crat commented on #14
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-15 09:02] 0crat commented on #14
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-20 13:37] g4s8 commented on #14
@g4s8 done in #16

[2019-06-20 13:37] #14 closed

[2019-06-20 13:39] g4s8 commented on #6
@0crat status

[2019-06-20 13:40] g4s8 commented on #9
@0crat status

[2019-06-20 13:41] g4s8 commented on #15
@0crat status

[2019-06-20 13:42] g4s8 commented on #13
@0crat status

[2019-06-20 13:49] 0crat commented on #6
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#6](https://github.com/g4s8/gitstrap/issues/6) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) for [3days](http://www.zer

[2019-06-20 13:51] 0crat commented on #15
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#15](https://github.com/g4s8/gitstrap/issues/15) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set

[2019-06-20 13:51] 0crat commented on #13
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#13](https://github.com/g4s8/gitstrap/issues/13) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) for [3days](http://www.z

[2019-06-20 13:51] 0crat commented on #9
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#9](https://github.com/g4s8/gitstrap/issues/9) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) for [3days](http://www.zer

[2019-06-20 13:56] 0crat commented on #14
The job [#14](https://github.com/g4s8/gitstrap/issues/14) is now out of scope

[2019-06-20 13:58] 0crat commented on #14
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-21 18:37] vassilevsky opened #18 "Contributor's Guide has no mention of commit message requirements"
Problems described in https://github.com/g4s8/gitstrap/pull/17#issuecomment-504352216 are not in CONTRIBUTING.md 😢

[2019-06-21 18:37] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-22 08:09] 0pdd commented on #6
The puzzle `4-dc1e5699` has disappeared from the source code, that's why I closed this issue.

[2019-06-22 08:09] #6 closed

[2019-06-22 08:09] 0pdd commented on #4
@g4s8 the only puzzle [#6](https://github.com/g4s8/gitstrap/issues/6) is solved here.

[2019-06-22 08:27] 0crat commented on #6
Job [#6](https://github.com/g4s8/gitstrap/issues/6) is not in the agenda of @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), can't inspect

[2019-06-22 08:27] 0crat commented on #6
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-22 08:27] 0crat commented on #6
The job [#6](https://github.com/g4s8/gitstrap/issues/6) is now out of scope

[2019-06-22 08:35] 0crat commented on #15
The job [#15](https://github.com/g4s8/gitstrap/issues/15) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/7bcdd3b1-4872-4691-919c-34567f2da1b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-06-22 09:53] g4s8 commented on #18
@vassilevsky it is described in Zerocracy policy, see https://www.zerocracy.com/policy.html#42

[2019-06-22 13:37] sereshqua commented on #6
@0crat quality good

[2019-06-22 14:21] 0crat commented on #6
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-22 14:27] 0crat commented on #6
Order was finished, quality is "good": +35 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-22 14:51] 0crat commented on #13
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-22 14:51] 0crat commented on #9
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-24 18:32] vassilevsky commented on #18
@g4s8 Cool! This link should be added to the file then :)

[2019-06-25 07:51] g4s8 commented on #18
@vassilevsky thanks, done in https://github.com/g4s8/gitstrap/commit/86d5faa21a00ceec4cccfaab8a11e0cc67ebcb37

[2019-06-25 07:51] #18 closed

[2019-06-25 08:08] 0crat commented on #18
Job `gh:g4s8/gitstrap#18` is not assigned, can't get performer

[2019-06-25 08:08] 0crat commented on #18
This job is not in scope

[2019-06-25 16:10] g4s8 commented on #6
@rultor release, tag=`0.1.8`

[2019-06-25 16:12] rultor commented on #6
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19332-505514265)

[2019-06-25 16:14] rultor commented on #6
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19332-505514265) (took me 2min)

[2019-06-27 09:31] 0crat commented on #15
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-27 14:01] 0crat commented on #13
The user @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) resigned from [#13](https://github.com/g4s8/gitstrap/issues/13), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-06-27 14:01] 0crat commented on #13
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-27 14:12] 0crat commented on #9
The user @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) resigned from [#9](https://github.com/g4s8/gitstrap/issues/9), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-06-27 14:12] 0crat commented on #9
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-27 14:38] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#13](https://github.com/g4s8/gitstrap/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-06-27 14:38] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/gitstrap/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:

[2019-06-28 19:02] vassilevsky commented on #15
@0crat wait for review

[2019-06-28 19:04] 0crat commented on #15
@vassilevsky The impediment for [#15](https://github.com/g4s8/gitstrap/issues/15) was registered successfully by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-28 20:45] vassilevsky commented on #13
@0crat wait for review

[2019-06-28 20:46] 0crat commented on #13
@vassilevsky Job `gh:g4s8/gitstrap#13` is not assigned, can't get performer

[2019-06-28 20:47] g4s8 commented on #13
@0crat assign @vassilevsky

[2019-06-28 20:51] 0crat commented on #13
@g4s8 The job [#13](https://github.com/g4s8/gitstrap/issues/13) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/6cb98bf2-d201-448b-b3c1-0c995d14f33e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-06-28 20:52] 0crat commented on #13
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-28 20:59] vassilevsky commented on #13
@g4s8 thank you 😘

[2019-06-28 21:00] vassilevsky commented on #13
@0crat wait for review

[2019-06-28 21:01] 0crat commented on #13
@vassilevsky The impediment for [#13](https://github.com/g4s8/gitstrap/issues/13) was registered successfully by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-28 21:33] vassilevsky commented on #9
@g4s8 could you assign it back to me please? ☺️

[2019-06-29 06:01] g4s8 commented on #9
@0crat assign @vassilevsky

[2019-06-29 06:02] 0crat commented on #9
@g4s8 The job [#9](https://github.com/g4s8/gitstrap/issues/9) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/17b58dcc-5701-4231-867a-2543c333a881); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-29 06:03] 0crat commented on #9
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-29 07:54] vassilevsky commented on #9
@g4s8 thank you 😘

[2019-06-29 07:55] vassilevsky commented on #9
@0crat wait for PR improvements

[2019-06-29 07:56] 0crat commented on #9
@vassilevsky The impediment for [#9](https://github.com/g4s8/gitstrap/issues/9) was registered successfully by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-29 12:00] vassilevsky opened #23 "Go Meta Linter has been deprecated in favor of GolangCI-Lint"
It is necessary to update all scripts that use `gometalinter`.

[2019-06-29 12:01] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-29 12:19] 0crat commented on #23
Job [#23](https://github.com/g4s8/gitstrap/issues/23) is now in scope, role is `DEV`

[2019-06-29 12:31] 0crat commented on #23
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-06-29 12:45] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#23](https://github.com/g4s8/gitstrap/issues/23); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-07-04 16:18] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#23](https://github.com/g4s8/gitstrap/issues/23); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-07-04 17:56] 0crat commented on #23
The job [#23](https://github.com/g4s8/gitstrap/issues/23) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/a1de661d-3737-434e-ab50-000a2d3156fa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2019-07-04 17:56] 0crat commented on #23
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-06 17:06] vassilevsky commented on #13
@g4s8 The PR is merged. Unpause the task plz.

[2019-07-07 15:14] g4s8 commented on #13
@vassilevsky thanks

[2019-07-07 15:14] #13 closed

[2019-07-07 15:20] #9 closed

[2019-07-07 15:20] 0pdd commented on #9
The puzzle `5-6471c36f` has disappeared from the source code, that's why I closed this issue.

[2019-07-07 15:20] 0pdd opened #25 "gitstrap.go:272-273: Extract name resolution logic and..."
The puzzle `9-5fb1349f` from #9 has to be resolved:

https://github.com/g4s8/gitstrap/blob/575aff71a87c97f74715324994894bae1fa13ade/gitstrap.go#L272-L273

The puzzle was created by @vassilevsky on 24-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-07-07 15:20] 0pdd commented on #5
@g4s8 the puzzle [#25](https://github.com/g4s8/gitstrap/issues/25) is still not solved; solved: [#9](https://github.com/g4s8/gitstrap/issues/9).

[2019-07-07 15:20] 0pdd commented on #9
@0pdd the puzzle [#25](https://github.com/g4s8/gitstrap/issues/25) is still not solved.

[2019-07-07 15:23] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-07 15:31] 0crat commented on #25
Job [#25](https://github.com/g4s8/gitstrap/issues/25) is now in scope, role is `DEV`

[2019-07-07 15:43] 0crat commented on #13
Job [#13](https://github.com/g4s8/gitstrap/issues/13) is not in the agenda of @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), can't inspect

[2019-07-07 15:43] 0crat commented on #13
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-07 15:43] 0crat commented on #13
The job [#13](https://github.com/g4s8/gitstrap/issues/13) is now out of scope

[2019-07-07 15:44] 0crat commented on #9
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-07 15:45] 0crat commented on #9
The job [#9](https://github.com/g4s8/gitstrap/issues/9) is now out of scope

[2019-07-07 15:58] 0crat commented on #25
The job [#25](https://github.com/g4s8/gitstrap/issues/25) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/dd5bb318-a00d-401b-91a7-1a8fd74f2e85); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-07-07 16:09] sereshqua commented on #13
@0crat quality good

[2019-07-07 16:10] sereshqua commented on #9
@0crat quality good

[2019-07-07 16:34] vassilevsky commented on #15
@g4s8 The PR is merged. Please unpause this task.

[2019-07-07 16:37] 0crat commented on #13
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-07 16:57] 0crat commented on #13
Order was finished, quality is "good": +35 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-07-07 17:23] 0crat commented on #9
Order was finished, quality is "good": +35 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-07-07 17:26] 0crat commented on #9
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-08 16:24] g4s8 commented on #15
@vassilevsky thanks!

[2019-07-08 16:24] #15 closed

[2019-07-08 16:29] g4s8 commented on #15
@rultor release, tag=`0.2`

[2019-07-08 16:29] rultor commented on #15
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19485-509297191)

[2019-07-08 16:31] rultor commented on #15
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19485-509297191) (took me 2min)

[2019-07-08 16:45] g4s8 commented on #23
@vassilevsky it was fixed in https://github.com/g4s8/gitstrap/commit/3e1af5d7dd1d78d3b966cae8a2583856386c98d1 and https://github.com/g4s8/gitstrap/commit/3499e533adfeb3c7f12793c01bc104fdb1684eb4

[2019-07-08 16:45] #23 closed

[2019-07-08 16:54] 0crat commented on #15
Job [#15](https://github.com/g4s8/gitstrap/issues/15) is not in the agenda of @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), can't inspect

[2019-07-08 16:54] 0crat commented on #15
The job [#15](https://github.com/g4s8/gitstrap/issues/15) is now out of scope

[2019-07-08 16:54] 0crat commented on #15
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-08 17:01] g4s8 commented on #15
@rultor release, tag=`0.2.1`

[2019-07-08 17:01] rultor commented on #15
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19485-509308743)

[2019-07-08 17:03] rultor commented on #15
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19485-509308743) (took me 2min)

[2019-07-08 17:04] 0crat commented on #23
The job [#23](https://github.com/g4s8/gitstrap/issues/23) is now out of scope

[2019-07-08 17:04] 0crat commented on #23
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-08 17:22] sereshqua commented on #15
@0crat quality good

[2019-07-08 17:48] 0crat commented on #15
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-08 17:50] 0crat commented on #15
Order was finished, quality is "good": +35 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-07-08 18:04] g4s8 commented on #1
@rultor release, tag=`0.2.2`

[2019-07-08 18:04] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17156-509331350)

[2019-07-08 18:06] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17156-509331350) (took me 2min)

[2019-07-12 16:52] 0crat commented on #25
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-15 19:47] vassilevsky commented on #25
@0crat wait for my availability

[2019-07-15 19:51] 0crat commented on #25
@vassilevsky The impediment for [#25](https://github.com/g4s8/gitstrap/issues/25) was registered successfully by @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-07-29 10:00] g4s8 commented on #15
@rultor release, tag=`0.2.3`

[2019-07-29 10:00] rultor commented on #15
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19485-515928626)

[2019-07-29 10:02] rultor commented on #15
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19485-515928626) (took me 2min)

[2019-07-29 10:14] g4s8 commented on #15
@rultor release, tag=`0.2.4`

[2019-07-29 10:15] rultor commented on #15
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19485-515933244)

[2019-07-29 10:17] rultor commented on #15
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19485-515933244) (took me 2min)

[2019-09-10 06:03] g4s8 commented on #25
@0crat continue

[2019-09-10 06:05] 0crat commented on #25
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) continued working on job [#25](https://github.com/g4s8/gitstrap/issues/25)

[2019-09-10 06:06] 0crat commented on #25
The user @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) resigned from [#25](https://github.com/g4s8/gitstrap/issues/25), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-09-10 06:06] 0crat commented on #25
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-09-10 06:42] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#25](https://github.com/g4s8/gitstrap/issues/25); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-09-15 07:41] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#25](https://github.com/g4s8/gitstrap/issues/25); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-09-18 11:24] g4s8 opened #26 "Unable to create new repo"
Getting error on `create` command:
[code]

[2019-09-18 13:09] 0crat commented on #26
Job [#26](https://github.com/g4s8/gitstrap/issues/26) is now in scope, role is `DEV`

[2019-09-18 13:12] 0crat commented on #26
The job [#26](https://github.com/g4s8/gitstrap/issues/26) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/0f4406fc-ea9e-484a-ae94-e04b1795be46); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2019-09-18 13:30] 0crat commented on #26
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-18 13:34] 0crat commented on #26
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-18 13:34] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-25 10:24] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#25](https://github.com/g4s8/gitstrap/issues/25); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-09-30 10:47] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#25](https://github.com/g4s8/gitstrap/issues/25); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](htt

[2019-09-30 19:05] #25 closed

[2019-09-30 19:05] 0pdd commented on #25
The puzzle `9-5fb1349f` has disappeared from the source code, that's why I closed this issue.

[2019-09-30 19:05] 0pdd commented on #5
@g4s8 all 2 puzzles are solved here: [#25](https://github.com/g4s8/gitstrap/issues/25), [#9](https://github.com/g4s8/gitstrap/issues/9).

[2019-09-30 19:05] 0pdd commented on #9
@0pdd the only puzzle [#25](https://github.com/g4s8/gitstrap/issues/25) is solved here.

[2019-09-30 19:05] g4s8 commented on #26
@rultor release, tag=`0.2.5`

[2019-09-30 19:06] rultor commented on #26
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20470-536706055)

[2019-09-30 19:08] rultor commented on #26
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20470-536706055) (spent 2min)

[code]

[2019-09-30 19:25] 0crat commented on #25
Job `gh:g4s8/gitstrap#25` is not assigned, can't get performer

[2019-09-30 19:25] 0crat commented on #25
The job [#25](https://github.com/g4s8/gitstrap/issues/25) is now out of scope

[2019-10-01 15:47] #26 closed

[2019-10-01 16:06] 0crat commented on #26
The job [#26](https://github.com/g4s8/gitstrap/issues/26) is now out of scope

[2019-10-01 16:06] 0crat commented on #26
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-03 17:40] g4s8 opened #28 "Can't read repository name from $PWD"
When I run `gitstrap create` without `.gitstrap.github.repo.name` field in config file, I'm getting error:

Full log of `gitstrap -accept -debug create` and `.gitstrap.yaml` config:
[code]
log:
[code]

Reading repo name from `$PWD` was implemented in #14 ticket, but it seems it was broken.

[2019-10-03 17:42] 0crat commented on #28
Job [#28](https://github.com/g4s8/gitstrap/issues/28) is now in scope, role is `DEV`

[2019-10-03 17:42] 0crat commented on #28
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-03 17:57] 0crat commented on #28
The job [#28](https://github.com/g4s8/gitstrap/issues/28) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/08b71840-7aed-4f78-919d-3049d2e0b64b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-10-04 12:27] g4s8 opened #29 "Migrate to modules"
Let's migrate from go-1.10 to >=go-1.11 with modules support, see https://github.com/golang/go/wiki/Modules#migrating-to-modules for more details.

[2019-10-04 12:28] 0crat commented on #29
Job [#29](https://github.com/g4s8/gitstrap/issues/29) is now in scope, role is `DEV`

[2019-10-04 12:29] 0crat commented on #29
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-04 12:34] 0crat commented on #29
The job [#29](https://github.com/g4s8/gitstrap/issues/29) assigned to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky), here is [why](https://www.0crat.com/footprint/CF7JL4282/2b31d371-7a7d-4221-9d5b-2b00a055085b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-10-05 16:21] g4s8 commented on #29
@0crat refuse

[2019-10-05 16:22] 0crat commented on #29
@g4s8 The user @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) resigned from [#29](https://github.com/g4s8/gitstrap/issues/29), please stop working. Reason for job resignation: Order was cancelled

[2019-10-06 13:20] mohamednizar commented on #29
@0crat status

[2019-10-06 13:21] 0crat commented on #29
@mohamednizar This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#29](https://github.com/g4s8/gitstrap/issues/29) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) i

[2019-10-08 18:45] 0crat commented on #28
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-13 20:11] 0crat commented on #28
The user @vassilevsky[/z](https://www.0crat.com/u/vassilevsky) resigned from [#28](https://github.com/g4s8/gitstrap/issues/28), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-13 20:13] 0crat commented on #28
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vassilevsky[/z](https://www.0crat.com/u/vassilevsky)

[2019-10-21 12:25] g4s8 commented on #29
@0crat status

[2019-10-21 15:24] 0crat commented on #29
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#29](https://github.com/g4s8/gitstrap/issues/29) is [in scope](http://www.zerocracy.com/policy.html#14) for 17days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not s

[2019-10-21 15:57] g4s8 commented on #29
@0crat assign @mohamednizar

[2019-10-21 16:03] 0crat commented on #29
@g4s8 The job [#29](https://github.com/g4s8/gitstrap/issues/29) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/CF7JL4282/108b2675-2d80-434e-8d33-991b164b3d3b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-10-21 16:59] 0crat commented on #29
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-22 16:30] mohamednizar commented on #29
@0crat wait

[2019-10-22 17:05] 0crat commented on #29
@mohamednizar The impediment for [#29](https://github.com/g4s8/gitstrap/issues/29) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-23 00:19] mohamednizar commented on #29
@0crat status

[2019-10-23 02:18] 0crat commented on #29
@mohamednizar This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#29](https://github.com/g4s8/gitstrap/issues/29) is [in scope](http://www.zerocracy.com/policy.html#14) for 19days
  * The role is `DEV`
  * The job is assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) for [1days](

[2019-10-23 17:44] mohamednizar opened #31 "rultor merge is getting break"
rultor merge is getting break. Found this logs.

[code]

There is need to fix related to g4s8/gorultor:alpine docker image.

[2019-10-23 17:44] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-24 14:28] 0crat commented on #31
Job `gh:g4s8/gitstrap#31` already assigned to @g4s8, can't assign to @g4s8

[2019-10-24 14:32] 0crat commented on #31
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-28 10:21] g4s8 commented on #31
@mohamednizar fixed now

[2019-10-28 10:21] #31 closed

[2019-10-28 10:47] mohamednizar commented on #29
@g4s8 this is fixed and merged to the master. #30

[2019-10-28 10:49] mohamednizar commented on #28
@0crat status

[2019-10-28 11:02] mohamednizar commented on #31
Thanks @g4s8 , Hope we can merge #30 too now. and close the issue #29.

[2019-10-28 11:47] g4s8 commented on #29
@mohamednizar thanks!

[2019-10-28 11:47] #29 closed

[2019-10-28 12:00] mohamednizar commented on #29
@0crat status

[2019-10-28 12:08] mohamednizar commented on #29
@0crat continue

[2019-10-29 12:57] g4s8 commented on #29
@0crat out

[2019-10-29 14:48] mohamednizar commented on #29
@g4s8 do you any suggestions on this? Can’t we follow up this.

[2019-10-29 18:16] g4s8 commented on #29
@0crat out

[2019-10-29 18:16] g4s8 commented on #31
@0crat out

[2019-10-29 18:18] g4s8 commented on #29
@mohamednizar it was https://www.rehttp.net/ issue - it failed to deliver webhook payload

[2019-10-29 18:19] 0crat commented on #29
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.34](https://github.com/zerocracy/farm): Issue: g4s8/gitstrap#29, Action: `created`

[2019-10-29 18:26] 0crat commented on #29
@mohamednizar This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#29](https://github.com/g4s8/gitstrap/issues/29) is [in scope](http://www.zerocracy.com/policy.html#14) for 25days
  * The role is `DEV`
  * The job is assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) for [8days](

[2019-10-29 18:27] 0crat commented on #29
@mohamednizar @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) continued working on job [#29](https://github.com/g4s8/gitstrap/issues/29)

[2019-10-29 18:28] 0crat commented on #29
@g4s8 The job [#29](https://github.com/g4s8/gitstrap/issues/29) is now out of scope

[2019-10-29 18:29] 0crat commented on #29
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-29 18:30] sereshqua commented on #29
@0crat quality good

[2019-10-29 18:31] g4s8 commented on #29
@0crat out

[2019-10-29 18:40] 0crat commented on #31
@g4s8 The job [#31](https://github.com/g4s8/gitstrap/issues/31) is now out of scope

[2019-10-29 19:01] 0crat commented on #28
@mohamednizar This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#28](https://github.com/g4s8/gitstrap/issues/28) is [in scope](http://www.zerocracy.com/policy.html#14) for 26days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-10-29 19:02] 0crat commented on #31
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-29 19:03] 0crat commented on #29
@g4s8 Job `gh:g4s8/gitstrap#29` is not assigned, can't get performer

[2019-10-29 19:03] 0crat commented on #29
This job is not in scope

[2019-10-29 19:38] 0crat commented on #29
Order was finished, quality is "good": +35 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-29 20:10] 0crat commented on #29
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-30 07:08] g4s8 commented on #28
@0crat assign @mohamednizar

[2019-10-30 07:26] 0crat commented on #28
@g4s8 The job [#28](https://github.com/g4s8/gitstrap/issues/28) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/CF7JL4282/3363fcd6-ce7a-4859-bde5-291f7ee6f297); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-10-30 07:27] 0crat commented on #28
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-31 18:26] g4s8 opened #33 "Enforce git commit message format"
Let's use same format for all git commit messages

[2019-10-31 19:02] g4s8 commented on #33
Done in https://github.com/g4s8/gitstrap/commit/c11b0b8d01523a395d12c469d8ebdd15371daec4 https://github.com/g4s8/gitstrap/commit/ee48fe2cb01f6bd77b58227c7661a3ddfc814d63

[2019-10-31 19:02] #33 closed

[2019-10-31 19:25] 0crat commented on #33
Job `gh:g4s8/gitstrap#33` is not assigned, can't get performer

[2019-10-31 19:25] 0crat commented on #33
This job is not in scope

[2019-11-02 06:50] mohamednizar commented on #28
@g4s8 ping

[2019-11-02 11:53] mohamednizar commented on #28
@0crat wait

[2019-11-02 11:57] 0crat commented on #28
@mohamednizar The impediment for [#28](https://github.com/g4s8/gitstrap/issues/28) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-10 00:05] #28 closed

[2019-11-10 00:46] mohamednizar commented on #28
@0crat continue

[2019-11-10 03:08] 0crat commented on #28
@github-actions[/z](https://www.0crat.com/u/github-actions)[bot] the issue is closed not by @g4s8[/z](https://www.0crat.com/u/g4s8) (its creator); I won't close the order; please, re-open it and ask @g4s8[/z](https://www.0crat.com/u/g4s8) to close it

[2019-11-10 03:17] 0crat commented on #28
@mohamednizar @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) continued working on job [#28](https://github.com/g4s8/gitstrap/issues/28)

[2019-11-10 05:11] 0crat commented on #28
Job `gh:g4s8/gitstrap#28` is not assigned, can't get performer

[2019-11-10 05:13] 0crat commented on #28
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#28](https://github.com/g4s8/gitstrap/issues/28), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-11-10 05:13] 0crat commented on #28
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-10 05:23] 0crat commented on #28
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-10 06:22] mohamednizar commented on #28
@g4s8 , I got -60 instead of +30 :(. Please do the needful

[2019-11-10 08:30] g4s8 commented on #28
@mohamednizar double penalty looks like a bug, feel free to submit it here https://github.com/zerocracy/farm/issues
Reputation points are not fixable, the only I can do is to fix your payment here. Please don't use `continue` next time when bug should be closed, it was the reason of this penalty.

[2019-11-10 08:30] g4s8 commented on #28
@0crat pay 30min @mohamednizar

[2019-11-10 08:38] g4s8 commented on #28
@0crat status

[2019-11-10 08:54] 0crat commented on #28
Direct payment to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) in #28, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-10 08:54] 0crat commented on #28
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-10 09:05] 0crat commented on #28
@g4s8 This is what I know about this job in [CF7JL4282](https://www.0crat.com/p/CF7JL4282), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#28](https://github.com/g4s8/gitstrap/issues/28) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set

[2019-11-10 09:11] g4s8 commented on #28
@0crat out

[2019-11-10 09:13] 0crat commented on #28
@g4s8 Job `gh:g4s8/gitstrap#28` is not assigned, can't get performer

[2019-11-10 09:13] 0crat commented on #28
@g4s8 The job [#28](https://github.com/g4s8/gitstrap/issues/28) is now out of scope

[2019-11-11 06:15] mohamednizar commented on #28
@g4s8 , Thank you very much!

[2019-11-12 08:54] mohamednizar opened #34 "Generate link for create token with all preferences if the --token not provided"
**Is your feature request related to a problem? Please describe.**
In a project directory if I ran the command `gitstrap create` without --token the

'GitHub token neither given as a flag, nor found in /home/nizar/.config/gitstrap/github_token.tx'

**Describe the solution you'd like**
Instead of this error message , create link somthing like :
https://github.com/settings/tokens/new?scopes=repo&des

[2019-11-12 08:54] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-01 00:09] #34 closed

[2019-12-01 03:22] 0crat commented on #34
Job `gh:g4s8/gitstrap#34` is not assigned, can't get performer

[2019-12-01 03:52] 0crat commented on #34
This job is not in scope

[2019-12-01 14:09] dgroup opened #35 "Add to the predefined services (like rultor, pdd) sonarqube an codecov."
Add to the predefined services (like rultor, pdd)  sonarqube an codecov.

[2019-12-01 14:10] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-01 14:10] 0crat commented on #35
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CF7JL4282) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-01 14:27] dgroup opened #36 "Avoid "ssh-agent is not running. You should start it before running gitstrap and add correct ssh key to be able to access Github repo via git""
[code]
Is it possible to create a new repo without SSH keys configuration?

[2019-12-01 14:27] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-01 14:27] 0crat commented on #36
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CF7JL4282) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-01 14:51] g4s8 opened #37 "Refactoring"
Split main file `gitstrap.go` into few smaller files

[2019-12-01 14:52] 0crat commented on #35
The job [#35](https://github.com/g4s8/gitstrap/issues/35) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/a804473a-5561-4647-8582-23fb1f8e0d61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2019-12-01 14:54] 0crat commented on #37
Job `gh:g4s8/gitstrap#37` already assigned to @g4s8, can't assign to @g4s8

[2019-12-01 14:56] 0crat commented on #37
The job [#37](https://github.com/g4s8/gitstrap/issues/37) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/ff04359f-014b-46b2-a2d8-0179d762e5fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2019-12-01 14:56] 0crat commented on #37
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-12-01 14:56] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-12-01 14:57] 0crat commented on #37
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-12-01 14:57] 0crat commented on #35
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-12-01 14:58] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-12-01 15:07] dgroup opened #38 "[create] failed to sync git repo: exit status 128"
[code]
The command `gitstrap -token=xxx -debug create` creates the repo, however fails with error
[code]

The SSH key was generated and imported to ssh-agent in accordance with https://help.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

The gitstrap template is available here
https://raw.githubusercontent.com/dgroup/gitstrap-templates/master/

[2019-12-01 15:07] 0crat commented on #38
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-01 15:07] 0crat commented on #38
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CF7JL4282) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-01 15:08] dgroup commented on #36
Fixed once all steps from https://help.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent are completed, however, is it possible to avoid it?

[2019-12-01 15:20] g4s8 commented on #36
@dgroup It's needed to push `README`, `LICENSE` and other templates via `git://` protocol to new repository. But maybe it's possible to push using API key, I need to check it.

[2019-12-01 15:22] 0crat commented on #38
Job [#38](https://github.com/g4s8/gitstrap/issues/38) is now in scope, role is `DEV`

[2019-12-01 15:23] g4s8 commented on #38
@dgroup can you please share your git version? `git --version`

[2019-12-01 15:23] 0crat commented on #38
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-12-01 15:25] dgroup commented on #38
@g4s8
[code]

[2019-12-01 15:33] 0crat commented on #38
The job [#38](https://github.com/g4s8/gitstrap/issues/38) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/CF7JL4282/89b97f63-8f03-4a80-b9d2-993f04c243e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-12-01 17:36] g4s8 commented on #36
@dgroup yes, it's possible to push using API key: https://stackoverflow.com/a/18936804/1723695. We'll need to use this `push` git remote `https://${username}:${token}@github.com/${repo}.git`, where:
 - `username` - Github user, API token owner
 - `token` - API token
 - `repo` - repository coordinates

when pushing initial commit.

(to performer: don't forget to replace it with default remote `push

[2019-12-01 17:52] 0crat commented on #36
Job [#36](https://github.com/g4s8/gitstrap/issues/36) is now in scope, role is `DEV`

[2019-12-01 17:54] 0crat commented on #36
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-12-06 15:53] 0crat commented on #38
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-12-11 15:40] 0crat commented on #38
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#38](https://github.com/g4s8/gitstrap/issues/38), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-11 15:56] 0crat commented on #38
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-12-11 15:56] 0crat commented on #36
The job [#36](https://github.com/g4s8/gitstrap/issues/36) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/CF7JL4282/39848d94-caa6-4e4c-95e6-3c45e0407066); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-12-14 14:28] mohamednizar commented on #36
@0crat  wait

[2019-12-14 14:29] 0crat commented on #36
@mohamednizar The impediment for [#36](https://github.com/g4s8/gitstrap/issues/36) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-12-30 10:41] g4s8 commented on #36
@0crat continue

[2019-12-30 10:53] 0crat commented on #36
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) continued working on job [#36](https://github.com/g4s8/gitstrap/issues/36)

[2019-12-30 11:31] 0crat commented on #36
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#36](https://github.com/g4s8/gitstrap/issues/36), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-30 12:08] 0crat commented on #36
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2020-01-26 13:01] 0crat commented on #38
The job [#38](https://github.com/g4s8/gitstrap/issues/38) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/CF7JL4282/93badff3-b725-4ab3-84c7-a1743535d460); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-01-26 13:08] 0crat commented on #36
The job [#36](https://github.com/g4s8/gitstrap/issues/36) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/CF7JL4282/fb0ed5b7-e7b0-4cef-8b46-697e4d919fba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-01-26 13:17] GnusinPavel commented on #38
@dgroup I can success clone this repo
![image](https://user-images.githubusercontent.com/8367459/73135780-56c05880-4057-11ea-9139-d14bb7e058f6.png)
Can you verify that and close the ticket?

[2020-01-26 13:21] GnusinPavel commented on #36
@dgroup you may try to clone repo using `git clone https://github.com/g4s8/gitstrap.git`. Please check this out

[2020-01-26 15:20] GnusinPavel commented on #38
@dgroup  can't reproduce
[code]

repo creates successfully

[2020-01-27 07:59] GnusinPavel commented on #38
@0crat wait for @dgroup

[2020-01-27 08:01] 0crat commented on #38
@GnusinPavel The impediment for [#38](https://github.com/g4s8/gitstrap/issues/38) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2020-01-28 13:40] 0pdd opened #40 "err.go:7-8: Move error handling to separate module and..."
The puzzle `37-c7fbd670` from #37 has to be resolved:

https://github.com/g4s8/gitstrap/blob/ece415dabcf86ec081665ea71399aa67d126f736/err.go#L7-L8

The puzzle was created by @g4s8 on 28-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2020-01-28 13:40] 0pdd commented on #37
@g4s8 the puzzle [#40](https://github.com/g4s8/gitstrap/issues/40) is still not solved.

[2020-01-28 13:41] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-28 14:00] g4s8 commented on #37
Fixed in #39

[2020-01-28 14:00] #37 closed

[2020-01-28 14:21] 0crat commented on #37
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-29 22:27] GnusinPavel commented on #36
@0crat wait for #41

[2020-01-29 22:27] 0crat commented on #36
@GnusinPavel The impediment for [#36](https://github.com/g4s8/gitstrap/issues/36) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2020-02-07 13:44] g4s8 opened #42 "Travis can't release"
Fix artifact releasing

[2020-02-07 13:57] g4s8 commented on #42
@rultor release, tag=`1.0`

[2020-02-07 13:59] rultor commented on #42
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21325-583399767)

[2020-02-07 14:02] rultor commented on #42
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21325-583399767) (took me 2min)

[2020-02-07 14:04] g4s8 commented on #42
@rultor release, tag=`1.0.1`

[2020-02-07 14:05] rultor commented on #42
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21325-583401990)

[2020-02-07 14:08] rultor commented on #42
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21325-583401990) (took me 2min)

[2020-02-07 14:20] 0crat commented on #42
The job [#42](https://github.com/g4s8/gitstrap/issues/42) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CF7JL4282/6786b546-1086-464d-9c8c-1072a65e63ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2020-02-07 14:26] 0crat commented on #42
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 14:33] g4s8 commented on #42
@rultor release, tag=`1.0.2`

[2020-02-07 14:35] rultor commented on #42
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21325-583414256)

[2020-02-07 14:37] 0crat commented on #42
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 14:38] rultor commented on #42
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21325-583414256) (took me 2min)

[2020-02-07 14:52] 0crat commented on #42
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 15:07] g4s8 commented on #42
Fixed: removed travis, added release github action, fixed goreleaser.yaml, removed badges

[2020-02-07 15:07] #42 closed

[2020-02-07 16:12] 0crat commented on #42
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-07 16:27] 0crat commented on #42
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-06-01 14:12] alex-semenyuk opened #44 "Dead code with checking error"
gitstrap\github\repo_delete.go

Check err on nil twice

[code]

[2020-06-01 14:12] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-07-20 15:31] g4s8 commented on #44
@alex-semenyuk thanks

[2020-07-20 16:24] 0crat commented on #44
The job [#44](https://github.com/g4s8/gitstrap/issues/44) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/CF7JL4282/d43a2c40-0466-4bfa-a042-b8d13a03b7ca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-07-25 16:56] 0crat commented on #44
@stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-30 16:11] 0crat commented on #44
The user @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) resigned from [#44](https://github.com/g4s8/gitstrap/issues/44), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-07-30 16:47] 0crat commented on #44
The job [#44](https://github.com/g4s8/gitstrap/issues/44) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/CF7JL4282/6d1d9415-761e-4364-aabb-74f435f88f7c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-08-04 17:50] 0crat commented on #44
@gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-08-06 08:21] GnusinPavel commented on #44
@0crat wait for #45

[2020-08-06 10:29] GnusinPavel commented on #44
@g4s8 @alex-semenyuk please close that ticket )

[2020-08-06 11:48] #44 closed

[2020-08-06 11:51] GnusinPavel commented on #44
@0crat status

[2020-08-06 11:54] GnusinPavel commented on #44
@0crat continue

[2020-08-06 11:58] 0crat commented on #44
@GnusinPavel This is what I know about this job in CF7JL4282, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#44](https://github.com/g4s8/gitstrap/issues/44) is [in scope](http://www.zerocracy.com/policy.html#14) for 17days
  * The role is `DEV`
  * The job is assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel) for [7days](http://www.zerocracy.com/policy.html#8)

[2020-08-10 21:05] 0crat commented on #38
The job [#38](https://github.com/g4s8/gitstrap/issues/38) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/CF7JL4282/2f5c3485-88f4-4d23-9ef2-1acbb598d0f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-08-10 22:02] 0crat commented on #36
The job [#36](https://github.com/g4s8/gitstrap/issues/36) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/CF7JL4282/c444a344-9d86-4562-898e-2bedc10039dd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-08-15 21:51] 0crat commented on #38
@stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-08-15 22:54] 0crat commented on #36
@stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-08-20 21:03] 0crat commented on #38
The user @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) resigned from [#38](https://github.com/g4s8/gitstrap/issues/38), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-08-20 21:56] 0crat commented on #36
The user @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) resigned from [#36](https://github.com/g4s8/gitstrap/issues/36), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2021-03-24 17:00] g4s8 opened #46 "v2.0"
Let's reimplement this tool and make it more configurable

[2021-03-24 17:28] 0pdd commented on #40
The puzzle `37-c7fbd670` has disappeared from the source code, that's why I closed this issue.

[2021-03-24 17:28] #40 closed

[2021-03-24 17:28] 0pdd commented on #37
@g4s8 the only puzzle [#40](https://github.com/g4s8/gitstrap/issues/40) is solved here.

[2021-03-24 17:33] g4s8 opened #47 "Edit collaborators in repo spec"
Update collaborators in `Repository` specification on `apply` or create command. Now it's not clear how to edit collaborator permissions or specify it for non-organization repository.

[2021-03-24 17:34] g4s8 opened #48 "Manage webhooks in repo and org specifications"
Add webhooks specification and commands to delete, apply, create and get.
The selector is repository or organization.
Parent #46

[2021-03-24 17:36] g4s8 opened #49 "GIthub workflows resource"
Investigate how to design workflow resources and implement it.
Parent #46

[2021-03-24 18:35] 0crat commented on #40
Job `gh:g4s8/gitstrap#40` is not assigned, can't get performer

[2021-03-27 08:35] g4s8 opened #50 "Organization spec"
Add commands for managing GitHub organizations:
 - [x] Specification
 - [x] Get command
 - ~[Create command~
 - [x] Apply command
 - ~Delete command~

[2021-03-27 10:32] g4s8 opened #52 "Parse multiple specs from one file"
Parse multiple yaml documents from one file, not single spec.

[2021-03-28 08:32] #52 closed

[2021-03-28 08:43] #48 closed

[2021-03-28 10:59] g4s8 commented on #38
@dgroup the git usage was removed, now all uploads are performed via GItHub API

[2021-03-28 10:59] #38 closed

[2021-03-28 11:00] g4s8 commented on #36
@dgroup git is not used anymore, see #46

[2021-03-28 11:00] #36 closed

[2021-04-01 20:11] g4s8 opened #56 "Unable to create new repo"
New repository from spec can not be created if owner in metadata is the same user as token's user.

[2021-04-01 20:14] #56 closed

[2021-04-01 20:16] g4s8 commented on #56
Released https://github.com/g4s8/gitstrap/releases/tag/v2.0.1

[2021-04-03 01:19] 0crat commented on #48
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#48](https://github.com/g4s8/gitstrap/issues/48), since the job is not in scope anymore

[2021-04-04 13:39] g4s8 opened #58 "Organization teams spec"
Create team specification to manage organization teams:
 - [x] Spec definition
 - [x] Get team command
 - [x] Create team command
 - [x] Apply/edit team command
 - [x] Delete team command
 - [x] Wiki documentation

[2021-04-04 18:38] #50 closed

[2021-04-05 15:15] g4s8 opened #60 "Branch protection rules"
Add repository branch protection rules:
 - [x] Specification
 - [x] Get command
 - [x] Apply command
 - [x] Delete command
 - [x] Wiki pages

[2021-04-08 06:29] g4s8 opened #62 "Unable to apply for new repo"
When creating a new repository with `apply` command, `gitstrap` fails with error: `404: repository doesn't exist`, while it's still possible to create repo using same specification file with `create` command. The `gitstrap` should create a new repository with `apply` if it doesn't exist.

[2021-04-10 02:20] 0crat commented on #50
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#50](https://github.com/g4s8/gitstrap/issues/50), since the job is not in scope anymore

[2021-04-14 07:28] #62 closed

[2021-05-05 21:05] OrlovM opened #66 "Automate repository wiki update"
It will be helpful to use Github action to push changes to wiki from some directory in repository.
This will make it possible to create and review PRs to wiki.

[2021-05-12 07:41] #58 closed

[2021-05-17 10:27] OrlovM commented on #49
@g4s8 Github does not provide public API methods to create/edit workflows.
According to [API documentation](https://docs.github.com/en/rest/reference/actions#workflows), available methods are: list workflows, get workflow, enable/disable workflow, create dispatch event, get workflow usage info.
Therefore implementing workflows manage commands does not seem very useful.

[2021-05-18 09:26] g4s8 opened #70 "Restructure documentation"
Update documentation structure: markdown documents, wiki, reports

[2021-05-20 05:41] g4s8 commented on #49
@OrlovM ok, let me check this issue. I think we can configure workflows by applying user's templates to generate workflow-configuration files and upload it via API (similar to readme spec)

[2021-05-23 19:09] OrlovM commented on #47
@g4s8 GitHub does not support configurable collaborator permissions for user-owned repositories.
There are only one permissions [list](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository), that collaborator can have.

Organization-owned repositories supports granular permission [levels.](h

[2021-05-23 19:12] OrlovM commented on #70
@g4s8 Can you provide more detailed information on this issue?

[2021-05-24 07:32] g4s8 commented on #70
@OrlovM sorry, wrong repository

[2021-05-24 07:32] #70 closed

[2021-06-28 07:31] #60 closed

[2021-07-06 05:17] g4s8 opened #74 "Pagination refactoring"
Let's use a common pagination tool to iterate over paged GitHub response list items

[2021-07-06 09:46] #74 closed

[2021-07-06 11:39] g4s8 opened #76 "Delete resources by locators"
Add option for `delete` command to remove repositories or other resources using locators, e.g. `gitstrap rm repo g4s8/test`:
 - [x] repositories #77
 - [x] teams #80
 - [x] protections #80
 - [x] readmes #80
 - [x] hooks #80

For #78

[2021-07-06 13:27] g4s8 opened #78 "v2.2"
New version 2.2:
 - feature(delete): delete repo command
 - refactoring(pagination): implemented pagination utils
 - docs(protections): added branch protection spec to wiki
 - fix(protections): protection ToGithub and FromGithub fixed
 - feature(protections): implemented protection apply and delete commands (#71)
 - deps: bump github.com/urfave/cli/v2 from 2.1.1 to 2.3.0 (#69)
 - ci: fixed dependa

[2021-07-07 17:21] g4s8 opened #79 "Add RequiredConversationResolution to branch protection rules"
Add new spec configuration field to branch protection rules: `RequiredConversationResolution`, it's added in GitHub with https://docs.github.com/en/github/administering-a-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-conversation-resolution-before-merging

Wait for https://github.com/google/go-github/issues/1945

[2021-07-08 18:05] #76 closed

[2021-07-15 10:56] g4s8 opened #81 "Init command"
Add `init` command to generate stub specification file for any kind:
 - [x] repository
 - [x] organization
 - [x] hook
 - [x] readme
 - [x] team

E.g. `gitstrap init repo` creates stub for repository specification.
Available specifications: https://github.com/g4s8/gitstrap/wiki/Specifications

[2021-08-01 09:54] #81 closed

[2021-08-08 13:55] alex-semenyuk opened #83 "Demo link doesn't work"
Demo link doesn't work. Click on it we have "This recording has been archived"

[2021-08-08 14:42] alex-semenyuk opened #84 "Redundant code"
https://github.com/g4s8/gitstrap/blob/master/internal/utils/tag.go

[code]

`newTag := *new(reflect.StructTag)` can be removed and `return nil, err` due to it doesn't use

[code]

[2021-08-09 09:41] g4s8 commented on #84
@alex-semenyuk this method is used here: https://github.com/g4s8/gitstrap/blob/54c65411be406832cae362d2dce594a614d98a5e/cmd/gitstrap/cmd_init.go#L222 or I missed something?

[2021-08-09 10:36] alex-semenyuk commented on #84
@g4s8 Yes, but if `utils.RemoveTagsOmitempty(m.Spec, "yaml")`  returns `err` we don't use `s` just `err`

[code]

So we can rewrite
from

[code]

to

[code]

and remove `newTag := *new(reflect.StructTag)`

[2021-08-17 07:56] #79 closed

[2021-10-05 14:33] g4s8 opened #89 "Patch command"
Let's introduce a new command `patch`: it'll update an existing remote resource without downloading the full spec file. It can accept patch file or patch statements. For patch command it automatically create spec in memory, update it using patch file or statements and modify remote resources according to these changes.

Patch file provides yaml representation of fields that should be updated, e.g.

[2021-11-10 13:18] g4s8 opened #90 "gitstrap get teams crashes on nil pointer"
When running `gitstrap get teams --org artipie` command (I have access to artipie org), it crashes with log:
[code]

[2021-11-15 08:59] #90 closed

[2022-06-27 05:47] #83 closed

[2022-07-25 09:13] #46 closed

[2022-08-05 08:50] g4s8 opened #107 "Print repository URL on create"
Print to stdout repository URL after creating it with `gitstrap create` or `gitstrap apply`, now printed internal Github repo ID and repo name.